doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width')
        title Title
        meta(name='description', content='')
        link(rel='shortcut icon' href='favicon/favicon.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='favicon/apple-touch-icon.png')

        link(rel='stylesheet' href='libs/bootstrap-grid.css')
        link(rel='stylesheet' href='libs/superfish/superfish.css')
        link(rel='stylesheet' href='libs/superfish/megafish.css')
        link(rel='stylesheet' href='css/main.css')


    body
        header.main-head
            div.container
                div.top-panel
                    .row
                        div.col-md-4
                            div.wrapper
                                div.body
                                    div.title Санкт-Петербург
                                    div.change Изменить город?
                        div.col-md-4
                            a.logo-top( href='#')
                                b   Фермеры
                                span    России
                        div.col-md-4
                            div.wrapper-user
                                div.user-body
                                    span.title Александр Зернов


                                div.avatar(href='#')


            div.container
                div.menu-panel
                    .row
                        nav.top-line
                            ul.sf-menu
                                li.action_item
                                    i(class="fa fa-bars")
                                    a.item_a( href='#') Каталог продукции
                                    div.sf-mega
                                        div.container
                                            .row
                                                div.categories
                                                    div.col-md-6
                                                        div.category-name
                                                            div.category-item-name
                                                                h3 Молочная продукция
                                                                a Творог
                                                                a Молоко
                                                                a Кефир
                                                                a Сливки
                                                                a Сметана


                                li.li_margin
                                    a(href='#') Фермери
                                li
                                    a(href='#') О проекте
                                li
                                    a(href='#') Как стать фермером
                                li
                                    a(href='#') Помошь

                        div.shopping-cart
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            span 2 560 РУБ.



        script(src='/js/jquery.js')
        script(src='/libs/superfish/superfish.js')
        script(src='/js/common.js')